/* ==========================================================================
   Motion
   ========================================================================== */

:root {
    /* ----------------------------------------------------------------------
       Duration
       ---------------------------------------------------------------------- */

    --ft-duration-fast: 150ms;
    --ft-duration-normal: 250ms;
    --ft-duration-slow: 400ms;

    /* ----------------------------------------------------------------------
       Timing Functions
       ---------------------------------------------------------------------- */

    --ft-ease-default: ease;

    --ft-ease-in: ease-in;

    --ft-ease-out: ease-out;

    --ft-ease-in-out: ease-in-out;
}