/* ==========================================================================
   Border Radius
   ========================================================================== */

:root {
    --ft-radius-none: 0;
    --ft-radius-sm: 0.25rem;
    --ft-radius-md: 0.5rem;
    --ft-radius-lg: 0.75rem;
    --ft-radius-xl: 1rem;
    --ft-radius-full: 9999px;
}